@import url("https://v1.fontapi.ir/css/Vazir");

:root {
  --transition: all 0.4s ease-in-out;
  --s-border: 1px solid rgb(83, 83, 83);
  --box-shadow-p: 0 0 3px 1px rgba(76, 0, 255, 0.856);
  --box-shadow-b: 0 0 4px 1px rgba(150, 150, 150, 0.856);
  --text-shadow-p: 0 0 3px rgba(76, 0, 255, 0.493);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  direction: rtl;
}
body {
  color: rgb(53, 53, 53);
  font-size: 16px;
  font-family: "Vazir", sans-serif;
}
a {
  text-decoration: none;
}
li {
  display: inline-block;
  list-style: none;
}

/* header start */

header {
  background: rgb(255, 255, 255);
  padding: 0.5rem 1.5rem;
  font-size: 15px;
}

.navbar-menu-item {
  color: white;
  margin: 10px;
}
.navbar-menu-icon i {
  color: rgba(76, 0, 255, 0.856);
  transition: var(--transition);
}
.navbar-menu-icon i:hover {
  color: rgba(76, 0, 255, 0.966);
  text-shadow: var(--text-shadow);
  transform: scale(1.1);
}
.login-btn {
  color: rgba(76, 0, 255, 0.856);
  border-radius: 20px;
  padding: 0.3rem 1rem;
  transition: var(--transition);
  box-shadow: var(--box-shadow-b);
}
.login-btn:hover {
  box-shadow: var(--box-shadow-p);
}

/* header end */

/* Home Wallpaper start */

.Home-Wallpaper {
  background-image: url("../image/dhaval-parmar-dnPniNPUe4o-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  width: 100%;
  box-shadow: var(--box-shadow-p);
}
.Home-Wallpaper h1 {
  color: rgba(76, 0, 255, 0.856);
  font-size: 2rem;
  letter-spacing: 1.5px;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  -webkit-animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
}
@keyframes color-change {
  0% {
    color: rgba(0, 183, 255, 0.856);
    text-shadow: 2px 2px 5px rgba(0, 183, 255, 0.856);
  }
  25% {
    color: rgba(255, 0, 0, 0.856);
    text-shadow: 2px 2px 6px rgba(255, 0, 0, 0.856);
  }
  50% {
    color: rgba(195, 0, 255, 0.856);
    text-shadow: 2px 2px 7px rgba(195, 0, 255, 0.856);
  }
  100% {
    color: rgba(0, 183, 255, 0.856);
    text-shadow: 2px 2px 8px rgba(0, 183, 255, 0.856);
  }
}

/* Home Wallpaper end */

/* cards start */
.Products-title h3 {
  position: relative;
  margin: 2.5rem 0;
  padding: 0.5rem 0;
}
.Products-title h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0.5px;
  background: rgba(89, 0, 255, 0.795);
  box-shadow: 0 0 1px 0.5px rgba(76, 0, 255, 0.966);
}
.Products-cards {
  width: 100%;
}
.card {
  padding: 10px;
  margin: 10px;
  width: 13rem;
  box-shadow: var(--box-shadow-b);
}
.lable-text {
  background: rgba(89, 0, 255, 0.795);
  color: white;
  font-weight: 500;
  border-radius: 20px;
  padding: 0.3rem 0.8rem;
  font-size: 13px;
}
.stars {
  color: rgb(255, 98, 25);
}
.card-info-price {
  font-size: 14px;
  color: rgb(100, 100, 100);
  font-weight: 500;
}
.card-info-icon > span {
  color: white;
  background: rgba(89, 0, 255, 0.795);
  margin: 0.1rem;
  border-radius: 100%;
  font-size: 12px;
  cursor: pointer;
}
.card-info-icon > span i {
  padding: 5px;
  transition: padding 0.8s ease-in-out;
}
.info-icon-text {
  padding: 0 5px 0 0;
  display: none;
}
.card-info-icon > span:hover {
  border-radius: 20px;
  direction: ltr !important;
}
.card-info-icon > span:hover i {
  padding-right: 15px;
}
.card-info-icon > span:hover .info-icon-text {
  display: block !important;
}

/* cards end */

/* accessories start */

.control-circles a {
  font-size: 12px;
  color: rgb(105, 105, 105) !important;
}
.control-circles li:nth-child(1) i {
  color: rgb(56, 56, 56) !important;
}

/* accessories end */

/* footer start */

footer {
  background: rgb(147 145 255 / 60%);
  padding: 3rem;
  box-shadow: 1px 1px 10px 2px rgb(147 145 255 / 70%);
}
.ContactUs-icons ul li i {
  font-size: 20px;
  margin: 0.5rem;
  transform: rotate(0);
  transition: var(--transition);
}
.ContactUs-icons ul li i:hover {
  font-size: 20px;
  margin: 0.5rem;
  transform: rotate(360deg);
}

/* footer end */

/* login page style start */
#login-page-body {
  background: #000;
}
.login-section {
  height: 95vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.login-section-line {
  height: 10rem;
  width: 1px;
  margin: 1rem;
  background: rgb(255, 255, 255);
}

@media (max-width: 500px) {
  .login-section-line {
    height: 1px;
    width: 10rem;
    margin: 1rem;
    background: rgb(255, 255, 255);
  }
}

/* loginforms */

.login-forms span > input {
  position: relative;
  width: 16rem;

  background: rgb(92, 92, 92);
  background: linear-gradient(
    90deg,
    rgba(92, 92, 92, 1) 0%,
    rgba(29, 29, 29, 1) 100%
  );
  color: rgb(255, 255, 255);
  padding: 0.6rem 1rem;
  margin: 5px;
  text-align: start;
  border-radius: 10px;
}

.login-forms span > i {
  position: absolute;
  color: rgb(255, 255, 255);
}
.login-forms .username > i {
  top: 1.2rem;
  left: 1.1rem;
}
.login-forms .password > i {
  top: 4.5rem;
  left: 1.1rem;
}
.login-forms .submit > input {
  background: rgb(252, 150, 255);
  background: linear-gradient(
    336deg,
    rgba(252, 150, 255, 1) 37%,
    rgb(82 167 255) 65%,
    rgb(0 146 249) 80%
  );
}
.login-forms .submit > i {
  top: 7.77rem;
  left: 1.1rem;
}
/* login with social */

.login-socials a {
  width: 16rem;
  background: transparent;
  color: aliceblue;
  padding: 0.6rem 1rem;
  margin: 4px;
  text-align: start;
  background-image: linear-gradient(
    333deg,
    rgba(110, 85, 255, 0.9332107843137255) 43%,
    rgba(254, 150, 255, 1) 77%
  );
  border-radius: 10px;
}
/* login page style end */
